@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --fondo-azul-rebajado:#4B61A6;
    --fondo-login-oscuro:black;
}
/*Fuente*/

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.jos-font-900 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  
.jos-font-600 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  

.color-fondo-login-select {
    background-color: #eae9e9;
}

.letra-color-login-select {
    color: #3f3f3f
}



.imagen-fondo {
    position: relative;
    background-image: url("../src/assets/img/robotsFondo.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 30rem;
}

.imagen-fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    /* Ajusta la opacidad según sea necesario */
    z-index: 1;
}

.imagen-fondo>* {
    position: relative;
    z-index: 2;
}

.size-w {
    width:  40rem;
}


/* Animación para la selección del botón izquierdo */
.scale-up-horizontal-right:hover {
    animation: scale-up-horizontal-right 0.4s forwards;
}

@keyframes scale-up-horizontal-right {
    0% {
        transform: scaleX(.4);
        transform-origin: right center;
    }

    100% {
        transform: scaleX(1);
        transform-origin: right center;
    }
}
.anchura-formulario{
    width: 30rem;
}
/*

Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/

.contenedor-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor-aidas{
    width: 50%;
    background-color: var(--fondo-azul-rebajado);

}
.contenedor-login-aida{
    background-color:var(--fondo-login-oscuro) ;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-login-aida form{
    margin-top: 2rem;
}
@media(width<=768px){
    .contenedor-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(width<=768px){
    .contenedor-aidas{
        width: 100%;
    }
    .contenedor-aidas h3{
        font-size: 1.5rem;
    }
    .contenedor-login-aida h3{
        margin-bottom: 3rem;
    }

}
@media(width<=390px){
    .contenedor-aidas{
        width: 100%;
    }
    .contenedor-aidas h3{
        font-size: 1rem;
        text-align: center;
    }
    .contenedor-login-aida h3{
        font-size: .6rem;
      
        text-align: center;
    }
    .anchura-formulario{
        width: 20rem;
    }
    .contenedor-borones{
        width: 3rem;
    }

}

@media(width<=768px){
    .contenedor-login-aida{
        width: 100%;

    }
    

}
/*mediaqueries para el banner principal del alumno*/
/*ajuste de la barra de navegacion*/

.header-banner{
    display: flex;
    justify-content: space-between;
    width: auto;
}

@media(width<=768px){
   .header-banner{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }

}
@media(width<=390px){
  .header-banner{
   flex: wrap; 
  }
}
.input-codigo{
    width: 20rem;
    height: 4rem;
}
.caja-vacia{
    width: 30rem;
    height: 30rem;
}
.size-w{
    width:  40rem;
}